.label-title {
  font-family: 'Poppins';
  font-size: 50px;

  span {
    margin-left: 6px;
    color: #cf0add;
  }
}

.label-heading {
  font-family: 'Poppins';
  font-size: 20px;
}

.label-sub-heading {
  font-family: 'Poppins';
  color: gray;
}
